@import 'public/fonts/SegoeUI/index.css';

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 16px;
}

.text-default {
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000;
	-webkit-text-size-adjust: none;
}

.text-font-small {
	font-size: 12px;
}

.text-font-larger {
	font-size: 20px;
}

.text-font-large {
	font-size: 24px;
}

.text-font-x-large {
	font-size: 32px;
}

.text-font-xx-large {
	font-size: 36px;
}

.text-semiBold {
	font-weight: 600;
}

.text-white {
	color: #fff;
}

.text-align-center {
	text-align: center;
}

.page {
	background: #fff;
	overflow: hidden;
}

.b-header {
	padding-top: 217px;
	padding-bottom: 218px;
	background: #17A2B8;
	font-family: inherit;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

.header__title {
	margin-top: 3rem;
	margin-bottom: 0;
	line-height: 48px;
	text-transform: uppercase;
}

.header__date {
	margin-top: 2rem;
	line-height: 32px;
	text-transform: uppercase;
}

.header__text {
	margin-top: 1.5rem;
	line-height: 32px;
}

.page__text-part {
	padding: 3rem 0;
	background: #F8F9FA;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.greeting__container {
	width: 540px;
	margin-right: 15px;
}

.greeting__title {
	margin-block-start: 0;
}

.reg-form__container {
	width: 540px;
	margin-left: 15px;
}

.reg-form__title {
	line-height: 43px;
	margin-block-start: 0;
	margin-block-end: 1rem;
}

.reg-form__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.reg-input__container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.b-input {
	min-width: 70px;
	padding: 0;
	background: #F8F9FA;
	border: none;
	white-space: normal;
}

.reg-label {
	margin-right: 0.5rem;
	flex-basis: 165px;
	white-space: nowrap;
}

.page__items {
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #fff;
}

.items__title {
	margin-top: 0;
	margin-bottom: 0.5rem;
	line-height: 43px;
}

.items__title__text-second {
	display: none;
}

.items__container {
	max-width: 1200px;
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5rem 2rem;
}

.b-item {
	max-width: 217px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.b-item__title {
	margin: 0.5rem 0;
	line-height: 27px;
}

.b-item__text {
	margin: 0;
	font-style: italic;
}

.page__footer {
	padding: 45px 0;
	background: #F8F9FA;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer__text {
	margin: 1rem 0 0;
	line-height: 16px;
	text-align: center;
	color: #BABABA;
}

@media screen and (max-width: 768px) {
	.b-header {
		padding: 333px 0;
	}

	.page__text-part {
		padding: 3rem 38px 42px;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.greeting__container {
		width: 100%;
		margin-right: 0;
		text-align: left;
	}

	.reg-form__container {
		margin-left: 0;
		width: 100%;
	}

	.items__title__text-first {
		display: none;
	}

	.items__title__text-second {
		display: inline;
	}

	.items__container {
		gap: 1.5rem 20px;
	}

	.page__footer {
		padding: 20px 0;
	}
}

@media screen and (max-width: 420px) {
	.page__text-part {
		padding: 1.5rem 2rem 1.5rem 15px;
	}

	.reg-label {
		flex: 0;
	}

	.page__items {
		padding: 1.5rem 15px;
	}
}

@media screen and (max-width: 320px) {
	.b-header {
		padding: 105px 0;
	}

	.header__title {
		max-width: 100%;
		margin-top: 1rem;
	}

	.header__date {
		margin-top: 1.5rem;
	}

	.header__text {
		margin-top: 1rem;
	}

	.greeting__container {
		display: none;
	}

	.items__title {
		align-self: flex-start;
	}
}
